-
  const dropdownList = [
    {
      href: '#',
      name: 'ONG Solar'
    },
    {
      href: '#',
      name: 'Caspit Trade'
    },
    {
      href: '#',
      name: 'Overtech'
    },
    {
      href: '#',
      name: 'Agronovatsiia'
    },
    {
      href: '#',
      name: 'EXIM Leasing'
    },
    {
      href: '#',
      name: 'Discorb'
    },
  ];

header.header
  ._container.header__container
    .header__wrapper
      .header__item
        ul.menu__lang
          li
            p.lang-item.lang-item-current eng
          li
            a.lang-item(href='#') PL

      .header__item
        .dropdown.desktop
          button.dropdown__header Our projects

          ul.dropdown-list
            each item in dropdownList
              li.dropdown-list__item
                a.dropdown-list__link(
                  href=`${item.href}`,
                  target='_blank',
                  rel='noreferrer'
                )= item.name

        button.header-button.popup-open(
          data-popup='_popup-menu',
          title='open menu'
        )
          span.header-button__title menu

          span.header-button__burger
            img(
              src=require('@/assets/img/burger.svg'),
              alt='burger',
              draggable='false'
            )

  include @/layout/popup.pug
